<div class="main-logo">
  <%= link_to image_tag("42floors.png"), "http://www.42floors.com", target: "_blank" %>
</div>

<div class="main-content large-6 large-centered columns">
  <h1 class="title">
    Reserve Your Free Office Photoshoot Today
  </h1>
  <h2 class="subtitle">
    Generate 47% More Tours. Available for San Francisco and NYC CRE listings.
  </h2>

  <%= form_for Lead.new, :validate => true do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <label class="name_label" for="name">Name</label>
      <%= f.text_field :name, id: "name", placeholder: "Name", :required => true%>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label class="email_label" for="email">E-mail Address</label>
      <%= f.text_field :email, id: "email", placeholder: "E-mail Address", :required => true %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label class="phone_label" for="phone">Phone Number</label>
      <%= f.text_field :phone, id: "phone", placeholder: "Phone Number", :required => true %>
    </div>
  </div>
  <%= f.submit "RESERVE YOUR PHOTOSHOOT", class: "large-6 button expand"%>
  <% end %>
</div>

<div id="wrapper">
  <div id="carousel">
    <div>
      <%= image_tag("1.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("2.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("3.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("4.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("5.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("6.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("7.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("8.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("9.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("10.jpg", class: "carousel_image") %>
    </div>
    <div>
      <%= image_tag("11.jpg", class: "carousel_image") %>
    </div>
  </div>
</div>

<div class="questions">
  <div class="faq large-3 large-centered columns">
    <h4>Free?</h4>
    Yes, your photoshoot will be completely free. Well-photographed listings generate more interest and tours. We want the 42Floors community to succeed.
  </div>
  <div class="faq large-3 large-centered columns">
    <h4>When will my photos be live on 42Floors?</h4>
    Once your photographer uploads the photos from your shoot, our team reviews them. We want to make sure your photos are amazing, so this might take up to 2 weeks.
  </div>
  <div class="faq large-3 large-centered columns">
    <h4>How do I apply?</h4>
    Once you have confirmed your email address and verified your phone number, we'll be in contact and help you set up your listing.
  </div>
</div>